#appContainerFullSamProxy {
  display: flex;
  flex-direction: column;
}

#b2_root {
  float: left;
  width: 50%;
}

#root {
  float: right;
  width: 50%;
}

#b1_root {
  height: auto;
  width: 100%;
}

#tsReviewContainer {
  height: auto;
  width: 100%;
}
